.comment {
  width: 100%;
  margin: 2% 0;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    box-sizing: border-box;
    background: white;
    .likes {
      background: #f5f5fa;
      width: 2%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1% 4%;
      box-sizing: border-box;
      border-radius: 10px;
      h4{
        font-weight: bold;
        color: blue;
      }
      button {
        background: none;
        border: none;
        cursor: pointer;
        color: rgb(190, 190, 190);
      }
    }
    .center{
      justify-content: center;
    }
    .text-container {
      width: 90%;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info {
          display: flex;
          align-items: center;
          width: 90%;
          div {
            margin: 0 2%;
          }
          .you {
            background: blue;
            color: white;
            padding: 1%;
            box-sizing: border-box;
            border-radius: 5px;
          }
        }
        .date{
          font-size: small;
        }
        .reply button, .delete button, .edit button{
          display: flex;
          align-items: center;
          gap: 7px;
          color: blue;
          &:hover{
            background: blue;
            color: white;
          }
        }
        .delete button{
          color: red;
          &:hover{
            background: red;
            color: white;
          }
        }
        .edit button{
          color: blue;
          &:hover{
            background: blue;
            color: white;
          }
        }
      }
      textarea{
        resize: none;
        width: 100%;
        height: 50px;
      }
      .close{
        margin-left: 10px;
      }
    }
  }
}
.newReply {
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    box-sizing: border-box;
    form {
      width: 90%;
      display: flex;
      justify-content: space-between;
      input {
        width: 90%;
        border-radius: 8px;
        border: 1px solid black;
      }
    }
  }
}
.replyComment {
  width: 80%;
}
.replies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
